body {
    background: linear-gradient(to right, #4c58ff, #b16ee0);
    font-family: 'Roboto', sans-serif; 
}

form {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.input_group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-right: 200px;
}

.input_group label {
    width: 250px;
    margin-right: 10px; 
    text-align: left;
    font-size: 14px;
    margin-left: 30px;
}

.form_header {
    align-self: flex-start;
    margin-left: 55px;
}

input[type='text'] {
    height: 5vh;
    width: 60vh; 
    border: 2px solid black;
    border-radius: 7px;
}

.input::placeholder {
    font-family: 'Roboto', sans-serif;
}

.submit {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 4vh;
    background-color: blue;
    height: 4vh;
    border: 2px solid blue;
    border-radius: 7px;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: rgb(30, 30, 148);
}

header {
    padding-top: 1.5vh;
    display: flex;
    text-align: right;
    justify-content: right;
    position: relative;
}

nav a{ 
    position: relative;
    display: inline-block;
    text-decoration: None;
    color: blue;
    padding: 10px;
}

a::after {
    content: '';
    position: absolute;
    background: rgb(0, 0, 128);
    width: 0px;
    height: 4px;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
    
}

a:hover::after {
    width : 100%;

}
