body {
    background: linear-gradient(to right, #086d9c, #ffffff);
    font-family: 'Roboto', sans-serif; 
}

form {
    display : flex; /*harus merubah menjadi flex agar bisa menggunakan property flex*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.text {
    height: 5vh;
    width: 60vh; 
    border: 2px solid black;
    border-radius: 7px;
}

.text::placeholder {
    font-family: 'Roboto', sans-serif;
}

.submit {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 4vh;
    background-color: #5bc0de; 
    height: 4vh;
    border: 2px solid #5bc0de;
    border-radius: 7px;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #31a2c5;
}

header {
    padding-top: 1.5vh;
    display: flex;
    text-align: right;
    justify-content: right;
    position: relative;
}

header::after {
    content: '';
    position: absolute;
    background-color: #89dcf8;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
}

nav a{ 
    position: relative;
    display: inline-block;
    text-decoration: None;
    color: #08415c;
    padding: 10px;
}

a::after {
    content: '';
    position: absolute;
    background: #5bc0de;
    width: 0px;
    height: 4px;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
    
}

a:hover::after {
    width : 100%;

}
