body {
    background: linear-gradient(to right, #086d9c, #ffffff);
}

form {
    display : flex; /*harus merubah menjadi flex agar bisa menggunakan property flex*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input[type='text'] {
    height: 5vh;
    width: 60vh; 
    border: 2px solid black;
    border-radius: 7px;
}

input[type='submit'] {
    color: rgb(114, 180, 224);
    margin-top: 4vh;
    background-color: black; 
    height: 4vh;
    border: 2px solid black;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
}

input[type='submit']:hover {
    background-color: rgb(142, 66, 187);
}

input[type='submit']::placeholder {
    font-family: 'Roboto';
}

header {
    text-align: right;
    padding-top: 1.5vh;
}

nav a{ 
    font-family: 'Roboto';
    position: relative;
    display: inline-block;
    text-decoration: None;
    color: rgb(48, 95, 117);
    padding: 10px;
}

a::after {
    content: '';
    position: absolute;
    background: rgb(183, 70, 228);
    width: 0px;
    height: 4px;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
    
}

a:hover::after {
    width : 100%;

}
